* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --blue: #1b41c9;
  --yellow: #fe8e42;
  --pink: #ff2d59;
  --darkBlack: #111029;
  --white: #fff;
  --navFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  width: 120px;
  height: 40px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}
